---
---

@charset "utf-8";

$san-serif: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei',
            '微软雅黑', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;

$monospace: 'Ubuntu Mono', Consolas, 'Liberation Mono', Courier, monospace;

$primary-color: #4080C0;

@import "main",
        "syntax-highlighting";
