/*!
 * Stylesheet for "XiNGRZ" Jekyll theme.
 */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #556;
}

a, a:visited {
  color: #4080C0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/**
 * Site Header
 */

.site-header {
  position: fixed;
  left: 50px;
  top: 0;
  width: 250px;
  background: #FFF;
}

.site-header .brand {
  font-size: 200%;
}

.site-header .brand > a {
  display: block;
  text-align: center;
  line-height: 100px;
  background: #4080C0;
  color: #FFF;
  text-decoration: none;
}

.site-header .brand > a:hover {
  background: #4585C5;
}

.site-header nav {
  border-bottom: 5px solid #EEE;
}

.site-header nav ul {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.site-header nav ul > li {
  display: block;
}

.site-header nav ul > li > a {
  display: block;
  padding: 15px 50px;
  color: #777;
}

.site-header nav ul > li > a:hover {
  background: #F5F5F5;
  color: #4080C0;
  text-decoration: none;
}

.site-header nav ul > li.active > a {
  background: #EEE;
  color: #4080C0;
  border-left: 5px solid #4080C0;
  margin-left: -5px;
}

.site-header nav ul > li.active > a:hover {
  border-left-color: #4585C5;
}


.site-header nav ul > li > ul {
  padding: 0;
}

.site-header nav ul > li > ul > li > a {
  padding-left: 80px;
  font-size: 95%;
}

.site-wrapper {
  background: #F9F9F9;
  padding: 20px 50px 100px 350px;
}

/**
 * Site Content
 */

.site-content {
  max-width: 800px;
  min-height: 70%;
}

.site-content > header {
  display: block;
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 10px;
  height: 69px;
}

.site-content > header h1 {
  font-size: 200%;
  font-weight: normal;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.site-content > header time,
.site-content > header p {
  font-size: 85%;
  color: #999;
  padding: 0;
  margin: 0;
  display: inline;
}

.site-content > header ul.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  float: right;
}

.site-content > header ul.tags li {
  display: inline;
}

.site-content > header ul.tags li a {
  font-size: 80%;
  color: #BBB;
}

.site-content > .content h2,
.site-content > .content h3,
.site-content > .content h4,
.site-content > .content hr,
.site-content > .content p,
.site-content > .content ul,
.site-content > .content ol,
.site-content > .content pre,
.site-content > .content blockquote {
  font-size: 120%;
  padding: 0;
  margin: 30px 0;
  line-height: 30px;
}

.site-content > .content h2 {
  font-size: 170%;
  font-weight: normal;
  padding: 10px 0;
  margin: 20px 0;
  border-bottom: 1px solid #E7E7E7;
}

.site-content > .content h3 {
  font-size: 120%;
  font-weight: normal;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #E7E7E7;
}

.site-content > .content h4 {
  font-size: 100%;
  font-weight: bold;
}

.site-content > .content hr {
  display: block;
  height: 4px;
  border: none;
  background: #DFDFDF;
}

.site-content > .content p {
}

.site-content > .content ul,
.site-content > .content ol {
  padding-left: 2em;
}

.site-content > .content ul li,
.site-content > .content ol li {
  padding: 5px 0;
  margin: 0;
}

.site-content > .content a {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: border-bottom-color 500ms;
}

.site-content > .content a:hover {
  border-bottom-color: #4080C0;
  text-decoration: none;
}

.site-content > .content code {
  font-family: 'Ubuntu Mono', Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 90%;
  background: #F2F2F2;
  border-radius: 2px;
  white-space: nowrap;
  padding: 2px 5px;
}

.site-content > .content pre {
  overflow: hidden;
  line-height: 20px;
  background: #F2F2F2;
  border-radius: 2px;
  padding: 15px;
}

.site-content > .content pre > code {
  background: none;
  border: none;
  white-space: pre;
  padding: 0;
}

.site-content > .content blockquote {
  padding-left: 1.6em;
  padding-right: 2em;
  border-left: 0.4em solid #CCC;
  color: #777;
}

.site-content > footer {
  border-top: 1px solid #DFDFDF;
  margin-top: 50px;
  padding-top: 20px;
}

/**
 * Site Abstract
 */

.site-abstract {
  margin: 30px 0;
}

.site-abstract > header h1 {
  margin: 0;
  font-size: 140%;
  font-weight: bold;
}

.site-abstract > header h1 a {
  color: #556;
  /* reset from .site-content > content */
  border: none !important;
  transition: color 500ms !important;
}

.site-abstract > header h1 a:hover {
  color: #4080C0;
}

.site-abstract > .full > :not(:first-child),
.site-abstract > .full > :not(p) {
  display: none !important;
}

.site-abstract > .full > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 100% !important;
  color: #778;
}

.site-abstract > footer {
  font-size: 80%;
  color: #778;
}

.site-abstract > footer a {
  border: none !important;
}


/**
 * Site Footer
 */

.site-footer {
  margin: 0;
  padding: 10px 50px 10px 350px;
  background: #FFF;
  border-top: 1px solid #EEE;
}

.site-footer .license {
  font-size: 80%;
  color: #777;
}
