/*! Site Content **/

.site-content {
  max-width: 800px;
  min-height: 70%;

  > header {
    display: block;
    padding-bottom: 10px;
    min-height: 69px;

    h1 {
      font-size: 200%;
      font-weight: normal;
      padding: 0;
      margin: 0;
      margin-bottom: 5px;
    }

    time, p {
      font-size: 85%;
      color: #999;
      padding: 0;
      margin: 0;
      display: inline;
    }

    ul.tags {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline;
      float: right;

      li {
        display: inline;

        a {
          font-size: 80%;
          color: #BBB;
        }
      }
    }
  }

  .content {
    h2, h3, h4,
    hr, p,
    ol, ul,
    pre, blockquote {
      font-size: 110%;
      padding: 0;
      margin: 30px 0;
      line-height: 1.8;
    }

    h2 {
      font-size: 160%;
      font-weight: normal;
      margin: 20px 0;
      border-bottom: 1px solid #E7E7E7;
    }

    h3 {
      font-size: 120%;
      font-weight: normal;
      margin: 0;
      border-bottom: 1px solid #E7E7E7;
    }

    h4 {
      font-weight: bold;
    }

    hr {
      display: block;
      height: 4px;
      border: none;
      background: #DFDFDF;
    }

    ul, ol {
      padding-left: 2em;

      &.inline {
        list-style: none;
        padding-left: 0;
      
        li {
          display: inline-block;
        }
      }

      li {
        padding: 0;
        margin: 0;
      }
    }
    
    li {
      > p,
      > pre,
      > blockquote {
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.5;
      }
    }

    p, li {
      a {
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        transition: border-bottom-color 500ms;
        
        &:hover {
          border-bottom-color: $primary-color;
        }
      }
    }

    code {
      font-family: $monospace;
      font-size: 90%;
      background: #F2F2F2;
      border-radius: 2px;
      padding: 2px 5px;
    }

    pre {
      font-size: inherit;
      overflow-x: scroll;
      line-height: 20px;
      background: #F2F2F2;
      border-radius: 2px;
      padding: 15px;

      > code {
        background: none;
        border: none;
        padding: 0;
      }
    }

    blockquote {
      font-size: 90%;
      padding-left: 1.6em;
      padding-right: 2em;
      border-left: 0.4em solid #CCC;
      color: #777;

      * {
        font-size: inherit;
      }
    }

    img {
      max-width: 60%;
    }
  }

  > footer {
    border-top: 1px solid #DFDFDF;
    margin-top: 50px;
    padding-top: 20px;
  }
}

@media (max-width: 1080px) {
  .site-content {
    max-width: none;
  }

  .site-content > .content h2,
  .site-content > .content h3,
  .site-content > .content h4,
  .site-content > .content hr,
  .site-content > .content p,
  .site-content > .content ul,
  .site-content > .content ol,
  .site-content > .content pre,
  .site-content > .content blockquote {
    margin: 10px 0;
    line-height: 1.5;
  }

  .site-content > .content code,
  .site-content > .content blockquote {
    font-size: 100%;
  }

  .site-content > .content pre {
    padding: 5px;
  }

  .site-content > .content img {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .site-content > .content code {
    font-size: 90%;
  }

  .site-content > .content img {
    max-width: 100%;
  }
}
