html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $san-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #556;
}

a, a:visited {
  color: $primary-color;
  text-decoration: none;
}

@media (max-width: 960px) {
  body {
    font-size: 14px;
  }
}

/**
 * Site Header
 */

.site-header {
  position: fixed;
  left: 50px;
  top: 0;
  width: 250px;
  background: #FFF;
  border-bottom: 5px solid #EEE;
}

.site-header .brand {
  font-size: 200%;
  background: $primary-color;
}

.site-header .brand > a {
  display: block;
  text-align: center;
  line-height: 100px;
  color: #FFF;
  transition: background 500ms;
}

.site-header .brand > a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.site-header nav ul {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.site-header nav ul > li {
  display: block;
}

.site-header nav ul > li > a {
  display: block;
  padding: 0 3em;
  line-height: 50px;
  color: #777;
  transition: background-color 500ms;
}

.site-header nav ul > li.active {
  background: rgba(0, 0, 0, 0.02);
  color: $primary-color;
  border-left: 5px solid rgba(64, 128, 192, 0.6);
  margin-left: -5px;
}

.site-header nav ul > li > a:hover {
  background-color: rgba(0, 0, 0, 0.02);
  color: $primary-color;
}

.site-header nav ul > li > ul {
  padding: 0;
}

.site-header nav ul > li > ul > li > a {
  padding-left: 5em;
  font-size: 95%;
}

.site-wrapper {
  background: #FCFCFC;
  padding: 20px 50px 100px 350px;
}

@media (max-width: 1080px) {
  .site-header {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
    white-space: nowrap;
  }

  .site-header .brand {
    float: left;
    width: 200px;
    border-bottom: 5px solid $primary-color;
    margin-bottom: -5px;
  }

  .site-header .brand > a {
    line-height: 50px;
  }

  .site-header nav {
    margin-left: 200px;
  }

  .site-header nav ul {
    padding: 0;
  }

  .site-header nav ul > li {
    display: inline-block;
  }

  .site-header nav ul > li.active {
    border-left: none;
    margin-left: 0;
    border-bottom: 5px solid rgba(64, 128, 192, 0.6);
    margin-bottom: -5px;
  }

  .site-header nav ul > li > a {
    display: inline-block;
    padding: 0 30px;
  }

  .site-header nav ul > li > ul {
    background-color: rgba(0, 0, 0, 0.05);
    display: inline-block;
  }

  .site-header nav ul > li > ul > li > a {
    padding: 0 20px;
    font-size: 95%;
  }

  .site-wrapper {
    padding: 90px 50px 20px;
  }
}

@media (max-width: 960px) {
  .site-header .brand {
    font-size: 120%;
    width: 120px;
  }

  .site-header nav {
    margin-left: 120px;
  }

  .site-header nav ul > li > a {
    padding: 0 20px;
  }

  .site-header nav ul > li > ul > li > a {
    padding: 0 20px;
  }

  .site-wrapper {
    padding: 90px 20px 20px;
  }
}

@media (max-width: 600px) {
  .site-header .brand {
    overflow: hidden;
    width: 55px;
  }

  .site-header .brand > a {
    width: 0;
    padding-left: 55px;
  }

  .site-header nav {
    margin-left: 55px;
  }

  .site-wrapper {
    padding: 90px 10px 10px;
  }
}


/**
 * Site Content
 */

.site-content {
  max-width: 800px;
  min-height: 70%;
}

.site-content > header {
  display: block;
  padding-bottom: 10px;
  min-height: 69px;
}

.site-content > header h1 {
  font-size: 200%;
  font-weight: normal;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.site-content > header time,
.site-content > header p {
  font-size: 85%;
  color: #999;
  padding: 0;
  margin: 0;
  display: inline;
}

.site-content > header ul.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  float: right;
}

.site-content > header ul.tags li {
  display: inline;
}

.site-content > header ul.tags li a {
  font-size: 80%;
  color: #BBB;
}

.site-content > .content h2,
.site-content > .content h3,
.site-content > .content h4,
.site-content > .content hr,
.site-content > .content p,
.site-content > .content ul,
.site-content > .content ol,
.site-content > .content pre,
.site-content > .content blockquote {
  font-size: 110%;
  padding: 0;
  margin: 30px 0;
  line-height: 1.8;
}

.site-content > .content h2 {
  font-size: 160%;
  font-weight: normal;
  margin: 20px 0;
  border-bottom: 1px solid #E7E7E7;
}

.site-content > .content h3 {
  font-size: 120%;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid #E7E7E7;
}

.site-content > .content h4 {
  font-weight: bold;
}

.site-content > .content hr {
  display: block;
  height: 4px;
  border: none;
  background: #DFDFDF;
}

.site-content > .content ul,
.site-content > .content ol {
  padding-left: 2em;
}

.site-content > .content ul.inline,
.site-content > .content ol.inline {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
  }
}

.site-content > .content ul li,
.site-content > .content ol li {
  padding: 0;
  margin: 0;
}

.site-content > .content li > p,
.site-content > .content li > pre,
.site-content > .content li > blockquote {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.5;
}

.site-content > .content {
  p, li {
    a {
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      transition: border-bottom-color 500ms;
      
      &:hover {
        border-bottom-color: $primary-color;
      }
    }
  }
}

.site-content > .content code {
  font-family: 'Ubuntu Mono', Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 90%;
  background: #F2F2F2;
  border-radius: 2px;
  padding: 2px 5px;
}

.site-content > .content pre {
  font-size: inherit;
  overflow-x: scroll;
  line-height: 20px;
  background: #F2F2F2;
  border-radius: 2px;
  padding: 15px;
}

.site-content > .content pre > code {
  background: none;
  border: none;
  padding: 0;
}

.site-content > .content blockquote {
  font-size: 90%;
  padding-left: 1.6em;
  padding-right: 2em;
  border-left: 0.4em solid #CCC;
  color: #777;
}

.site-content > .content blockquote * {
  font-size: inherit;
}

.site-content > .content img {
  max-width: 60%;
}

.site-content > footer {
  border-top: 1px solid #DFDFDF;
  margin-top: 50px;
  padding-top: 20px;
}

@media (max-width: 1080px) {
  .site-content {
    max-width: none;
  }

  .site-content > .content h2,
  .site-content > .content h3,
  .site-content > .content h4,
  .site-content > .content hr,
  .site-content > .content p,
  .site-content > .content ul,
  .site-content > .content ol,
  .site-content > .content pre,
  .site-content > .content blockquote {
    margin: 10px 0;
    line-height: 1.5;
  }

  .site-content > .content code,
  .site-content > .content blockquote {
    font-size: 100%;
  }

  .site-content > .content pre {
    padding: 5px;
  }

  .site-content > .content img {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .site-content > .content code {
    font-size: 90%;
  }

  .site-content > .content img {
    max-width: 100%;
  }
}


/**
 * Site Abstract
 */

.site-abstract {
  margin: 30px 0;
}

.site-abstract > header {
  margin-bottom: 10px;
}

.site-abstract > header h1 {
  margin: 0;
  font-size: 140%;
  font-weight: bold;
}

.site-abstract > header h1 a {
  color: #556;
  /* reset from .site-content > content */
  border: none !important;
  transition: color 500ms !important;
}

.site-abstract > header h1 a:hover {
  color: $primary-color;
}

.site-abstract > .abstract > :not(p) {
  display: none;
}

.site-abstract > .abstract > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 100% !important;
  line-height: 1.5 !important;
  color: #778;
}

.site-abstract > footer {
  margin-top: 10px;
  font-size: 80%;
  color: #778;
}

.site-abstract > footer a {
  border: none !important;
}


@import "footer";
